.container-css {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1b1b1b; /* Dark background */
  background-image: url('../assets/lp-bg-2.jpg');
  background-position: center;
  background-size: cover;
}

.box-css {
  background-color: #2b2b2b; /* Slightly lighter than background */
  padding: 40px;
  border: 1.5px solid rgb(167, 165, 165);
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  width: 80%;
  max-width: 900px;
  align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.title-css {
  color: rgb(5, 109, 255);
  font-size: 80px;
  margin-bottom: 30px;
}

.course-image {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.course-image:hover {
  transform: scale(1.1); /* Image zoom effect */
}

.course-grid-css {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.course-item-css {
  background-color: rgb(5, 109, 255);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px; /* Set a fixed height */
  width: 200px; /* Ensure the width is consistent */
}

/* Hover effect for course item boxes */
.course-item-css:hover {
  background-color: #3b13d8;
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

